.main_title {
    padding: 10px;
    padding-top: 0px;
    margin: 20px;
    margin-top:0px;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.title {
    width: 50%;
    margin-left: 10%;
    float: left;
}

.main_title h1 {
    font-size: 100px;
}

.main_title img {
    margin:20px;
    width: 220px
 }
